// variaveis
////////////////////////////////////////////////
// LUX
////////////////////////////////////////////////
$grey: #7f888f;
$grey-light: lighten($grey, 10%);
$grey-lighter: lighten($grey, 20%);

$green: #4bbf73;
$blue: #1f9bcf;
$red: #d9534f;

$primary: #006400 !default;
$link: $grey;

$body-size: 12px;

$radius: 0;
$radius-small: $radius;

$box-shadow: 0 0 0 1px $grey-lighter;
@import "bulma/bulma.sass";
@import "./overrides.scss";
@import "./sections.scss";
